
annoy
appdirs
asn1crypto
astor
backports.functools-lru-cache
backports.weakref
bidaf-keras

certifi
chardet

click
cloudpickle
configparser
contextlib2
cryptography
cycler
decorator
distlib
enum34
fasteners
filelock
Flask
funcsigs
future

gast
google-pasta
grpcio
h5py
idna
importlib-metadata
importlib-resources
ipaddress
itsdangerous
Jinja2
Keras
Keras-Applications
Keras-Preprocessing
keyring
keyrings.alt
kiwisolver
lz4
Markdown
MarkupSafe
matplotlib

mock
monotonic
mysql-connector-python

networkx
nltk
numpy
opencv-contrib-python
pandas
paramiko
pathlib2
pexpect
Pillow
protobuf
pyasn1

pyflakes


pyodbc
pyparsing

python-dateutil
pytz
PyWavelets
pyxdg
PyYAML
requests
scandir
scikit-fuzzy

scikit-learn
scipy
SecretStorage
selenium
singledispatch
six
sklearn
subprocess32

tensorflow
tensorflow-estimator
termcolor
torch
tqdm
typing
urllib3
virtualenv
Werkzeug
wrapt
xlrd
XlsxWriter
xxhash
zipp
